In [1]:
#BASED ON DATA STRUCTURES
#Q1 find the sum of all values
toys= {"car" : "$40", "robot" : "$13" ,"tank" : "$866"}

In [69]:
#solution
values = eval(list(toys.values())[0][1:]) + eval(list(toys.values())[1][1:]) +eval(list(toys.values())[2][1:])
values

919

In [5]:
#Q2 comparison
list1 = [10  4 , 50  50 , 90  10 ,"c"  ("a", "b", "c"), 100  100]
#use != == in

#output = [true,true,false,true,false]

In [72]:
#solution
list1 = [10 !=  4 , 50 == 50 , 90 == 10 ,"c" in ("a", "b", "c"), 100 != 100]
list1

[True, True, False, True, False]

In [11]:
#Q3 
films = {"k1" : "blade runners", "k2": "matrix", "k3": "terminator"}
#desred output comare the length of value and give the output as true

In [14]:
#solution
value = list(films.values())
result = len(value[0])>len(value[1])<len(value[2])
result

True

In [15]:
#Q4
life_stages = {0: "embryo" , 1 : "fetus" , 2 : "baby" , 3 :"infant" , 4: "teen"}
#add two more values adult and big kid using dictionary method in a new dic

In [18]:
#solution
midlife = {5 : "adult" , 6 : "big kid"}
life_stages.update(midlife)
life_stages

{0: 'embryo',
 1: 'fetus',
 2: 'baby',
 3: 'infant',
 4: 'teen',
 5: 'adult',
 6: 'big kid'}

In [19]:
#Q5 
nest1 = [(1,2,3) , { "k1" : [8,1,300,2,77] , "k2" : [10,20,30]} , ["a" , "500" , "c"]]
#output : 833.0
#use only sortes and eval

In [90]:
#solution
k1 = sorted(nest1[1]["k1"])[-1]
k2 = sorted(nest1[1]["k2"])[-1]
k3 = nest1[2][1]
k3
sum1 = nest1[0][2] + k1 + k2 + k3
print(float(sum1))

833.0

In [30]:
#Q6
prices = ["a", "b", "9", "c", "d", "FOUR", "e", "f", "2.5"] 
sentence = """The bill for the {}#!/,?? {}#!/ ??and drink came to { }??"""
#DESIRED OUTPUT 
#prices = ["9", "FOUR", "2.5"] 
#'The bill for the pizza, chips and drink came to $15.5'

In [57]:
#solution
new_price = prices[2::3]
new_price[1] = "4"
sum = "$" + str(eval(new_price[0])+eval(new_price[1])+eval(new_price[2]))
print(sum)
add = ["pizza" , "chips" , sum]
print(add)
sentence = sentence.replace("#!/","").replace("??","")
print("The bill for the {}, {} and drink came to {}".format(*add))

$15.5
['pizza', 'chips', '$15.5']
The bill for the pizza, chips and drink came to $15.5