In [1]:
#list and dictionaries ate mutable
#strings are not mutable
#range function is used to create a set of number used in loops

In [4]:
#range consist of three variables which is similar as slice function
#first variable indicates start of numbers incuding it
#second variable indicates end of number excluding it
#third variable indicates the difference between two consecutive numbers

print(list(range(5)))
print(list(range(-2,5)))
print(list(range(20,50,5)))

[0, 1, 2, 3, 4]
[-2, -1, 0, 1, 2, 3, 4]
[20, 25, 30, 35, 40, 45]

In [53]:
#list can have nested list
alpha = [["a","b","c"],["d","e","f"]]
alpha[0] = alpha[0]*2
print(alpha)

[['a', 'b', 'c', 'a', 'b', 'c'], ['d', 'e', 'f']]

In [16]:
numbers = [list(range(5)),list(range(6,11))]
print(alpha + numbers) #here we cannot use multiplication

[['a', 'b', 'c', 'a', 'b', 'c'], ['d', 'e', 'f'], [0, 1, 2, 3, 4], [6, 7, 8, 9, 10]]

In [39]:
num = [4,7,1,99,-4]
num.append(6)
print(num)
num.clear()
print(num)

[4, 7, 1, 99, -4, 6]
[]

In [40]:
num.append([4,7,1,99,-4]) #we can append only one attribute at a time
print(num)
num = num[0]
print(num)

[[4, 7, 1, 99, -4]]
[4, 7, 1, 99, -4]

In [41]:
num.insert(3,6)
print(num)

[4, 7, 1, 6, 99, -4]

In [42]:
num.sort()
print(num)

[-4, 1, 4, 6, 7, 99]

In [44]:
num.reverse()
print(num)

[99, 7, 6, 4, 1, -4]

In [47]:
letters = ["a", "b", "cat"]
letters.append(num)
print(letters)

['a', 'b', 'cat', [99, 7, 6, 4, 1, -4]]

In [50]:
letters[3].insert(2,"hello")
letters[3].append(7)
print(letters)

['a', 'b', 'cat', [99, 7, 'hello', 'hello', 'hello', 6, 4, 1, -4, 7, 7]]

In [51]:
letters[3][5]

6

In [60]:
#tuples are similar to list except they are immutable
#thus having only two built in function index and count
tup = 1,2,3,4
print(type(tup))
print(alpha)
new_tuple = tuple(alpha[0])
print(new_tuple)
print(type(new_tuple))

<class 'tuple'>
[['a', 'b', 'c', 'a', 'b', 'c'], ['d', 'e', 'f']]
('a', 'b', 'c', 'a', 'b', 'c')
<class 'tuple'>

In [61]:
op = (1,1,1,10,3,2,5,4,3,4.66)

In [62]:
sum(op)

37.66

In [63]:
max(op)

10

In [64]:
min(op)

1

In [67]:
op.count(1)

3

In [68]:
op.index(3)

4

In [72]:
list1 = [1,2,3,4]
print(sum(list1*2))
tupl = tuple(list1)
print(sum(tupl*2))
print(list1*2)
print(tupl*2)

20
20
[1, 2, 3, 4, 1, 2, 3, 4]
(1, 2, 3, 4, 1, 2, 3, 4)

In [77]:
tuple(sorted(op)) #after sorting it gives result in list format

(1, 1, 1, 2, 3, 4, 4.66, 5, 6, 10)